#content {
  display: flex;
  justify-content: center;
}

#board-component {
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}


.none {

}



.row {
  border: 1px solid black;
  height: 200px;
  width:800px;
  display: flex;
  flex-flow: row wrap;
}

.col {
  border: 1px solid black;
  height: 100%;
  width: 33%;
}


.player-one:before {
  content: '\2716';
}
.player-two:before {
  content: '\25CB';
}

